{% comment %} {% extends "base.html" %} {% endcomment %}
{% load i18n %}
{% load static %}

{% if not user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<script type="module" src="{% static '/js/password_condition.js' %}"></script>
<script type="module" src="{% static '/js/home.js' %}"></script>
<div id="navigation">

        <img class="logo" src="{% static 'logo/entropia9.png' %}" alt="Logo">
        <!-- <button class="vs_tournois" id="avatar">AVATAR -proto-</button> -->

          <div class="links_boutons">
            <!-- <a class="link_big_pages" href="/pong/">PONG</a> -->
            {% comment %} <a class="link_big_pages" href="/tournois/">TOURNAMENT</a> {% endcomment %}
            {% comment %} <a class="link_big_pages" href="/duel/">DUEL</a> {% endcomment %}

            {% comment %} <a class="link_temp" href="/vs_tournois/">VS MENU</a> {% endcomment %}
            {% comment %} <a class="link_temp" href="/basic_setting/">SETTINGS MENU</a> {% endcomment %}
            {% comment %} <a class="link_temp" href="/3_blue_rubix/">SETTINGS<a> {% endcomment %}
            {% comment %} <a class="link_temp" href="/4_fall/">{% trans "CREDITS" %}</a> {% endcomment %}

            {% comment %} <a class="link_temp_template" href="/1_space_cubes/">3D SPACE_CUBES</a> {% endcomment %}
            {% comment %} <a class="link_temp_template" href="/2_pink_cubes/">3D PINK_CUBES</a> {% endcomment %}
            <!-- <a class="link_temp_template" href="/6_torus/">3D TORUS</a> -->
            {% comment %} <a class="link_temp_test" href="/testeur/">TESTEUR</a> {% endcomment %}
            {% comment %} <a class="link_temp_test" href="/avatar/">AVATAR PNG</a> {% endcomment %}
            {% comment %} <a class="link_temp_test" href="/404/">AVATAR 404</a> {% endcomment %}



            <!-- <a class="link_temp_test" href="/choose_your_perso/">GLOBOS GRID</a> -->

          </div>
          <div class="blur-box-parent" style="z-index: 10;">
              <form class="blur-box" method="post" id="loginForm" action="/api/users/accounts/login/" data-no-spa>  
                
                <div class="no_account">
                    <p class="no_account_sentence">
                      {% trans "No account? Sign up first!" %}
                    </p>
                    <button id="go_to_signup_page" class="go_to_signup_page" type="button">
                      {% trans "Sign up" %}
                    </button>
                </div>   

                  <p class="sign_title">
                    {% trans "SIGN IN" %}
                  </p>
                  {% csrf_token %}
                  
                  {% if messages %}
                  <div class="login-errors">
                      {% for message in messages %}
                          <p class="error-message">{{ message }}</p>
                      {% endfor %}
                  </div>
                  {% endif %}
                  
                  <input class="login" type="text" id="usernameSignin" name="login" placeholder="{% trans 'Login' %}" required>
                  <input class="password" type="password" id="passwordSignin" name="password" placeholder="{% trans 'Password' %}" required>
                  
              
                  <label class="remember-container">
                      <input type="checkbox" name="remember">
                      <span>
                        {% trans "I'm happy" %}
                      </span>
                  </label>

                    <button id="signin_submit" class="signin_submit"  type="submit" >
                      {% trans "Sign In" %}
                    </button>

                    <a href="https://api.intra.42.fr/oauth/authorize?client_id={{ env_client_id }}&redirect_uri={{ env_uri }}&response_type=code" class="signin_42">
                      {% trans "Sign In with 42" %}
                    </a>

                    <!-- <button class="forgot">Forgot password?</button>  -->

              </form>
              <div id="signupContainer" style="display: none;">
                {% include 'signup.html' %}
              </div>
              <div class="blur-box-parent">
</div>

{% comment %} <div id="js-loader" class="loader-overlay">
  <div class="loader-bar"></div>
</div> {% endcomment %}

<canvas id="background" class="webgl"></canvas>

<script>
    
</script>
{% else %}
{% include 'vs_tournois.html' %}
{% endif %}

