{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
		<!---------- Media Queries ---------->
		<link rel="stylesheet" href="{% static 'core/css/media-queries/login_media-queries-width.css' %}" media="screen and (max-width: 600px)">
		<link rel="stylesheet" href="{% static 'core/css/media-queries/login_media-queries-height.css' %}" media="screen and (max-height: 500px)">

		<title>Transcendence</title>
</head>
	<body class="no-scroll">
		<div class="container">
			<video autoplay muted loop class="video-background">
				<source src="{% static 'core/images/galaxy-background.mp4' %}" type="video/mp4">
				Your browser does not support the video tag.
				</video>


				<div class="container--login-form">
					<form action="/mfa/" method="post" id="signin-form">
						<div class="container--username-password-field">
						{% csrf_token %}
						{{ mfa_form }}
						</div>
						<div class="container--submit-button">
						<input type="submit" value="Submit" class="submit-button">
						</div>
					</form>
					</div>
				</div>
				</body>
			</html>


	</body>
