{% load static %}
{% load socialaccount %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/my_profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/media-queries/user_profile-media-queries-width.css' %}" media="screen and (max-width: 1100px)">
    <link rel="stylesheet" href="{% static 'core/css/media-queries/user_profile-media-queries-height.css' %}" media="screen and (max-height: 780px)">


	<title>Profile Page</title>
</head>

<body class="no-scroll">

	<!---------- Global container for layout management ---------->
	<div class="container">
		<!---------- Background Video ---------->
		<video autoplay muted loop class="video-background">
			<source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<div class="border-container">
            <!---------- Stats ---------->
            <div class="profile--stats-global-container">
                <div class="profile--stats-content">
                    <div class="profile--stats-title-container">
                        <h2 class="profile--stats-title">Game Stats</h2>
                    </div>
                    <div class ="profile--stats">
                        <img src="{% static 'core/images/win-logo3.png' %}" class="stats-logos">
                        <p> {{ user.userprofile.victory }}</p>
                    </div>
                    <div class ="profile--stats">
                        <img src="{% static 'core/images/defeats-logo.png' %}" class="stats-logos">
                        <p> {{ user.userprofile.defeat }}</p>
                    </div>
                </div>
            </div>

			<div class="profile--main-info-container">

                <!---------- Avatar ---------->
                <div class="profile--avatar-username-container">
                    <div class="container--user-avatar">
						<img src="{{ user.userprofile.avatar.url }}" alt="User Avatar" class="profile--user-avatar user-avatar-img"/>
					</div>
                <!---------- Username ---------->
					
					<div class="profile--username">
						<h2>{{ username }}</h2>
                    </div>
				</div>
				<div class="profile--buttons-container">
					<!-- Avatar Upload Form -->
					<div>
						<form action="/my_profile/" method="post" id="avatar-form" enctype="multipart/form-data">
							{% csrf_token %}
							{{ avatar_form.avatar }}  <!-- This renders the input field -->
							<label for="file-upload" class="change-btn">  <!-- Links to the input field -->
								Change Avatar
							</label>
							<input type="submit" id="file-upload" value="✓" class="change-btn">
						</form>
					</div>
					<div>
						<form action="{% url 'core:my_profile' %}" method="POST" id="username-form">
							{% csrf_token %}
							{{ username_form }}
							<input type="submit" id="file-upload" value="✓" class="change-btn">
							</button>
						</form>
					</div>
					<div>
						<form action="{% url 'mfa_activate_totp' %}" method="get">
							<input type="submit" id="2fa" class="change-btn" value="{% if mfa_is_enabled %}Deactivate 2FA{% else %}Activate 2FA{% endif %}">
							</button>
						</form>
					</div>
				</div>

				<!-- Avatar validation messages -->
				{% if not avatar_is_valid %}
					<p class="error-message">The specified file {{ avatar_name }} could not be uploaded.</p>
					<p class="error-message">Only files with the following extensions are allowed: png, jpg, jpeg.</p>
					<p class="error-message">The file size should not exceed 1Mo.</p>
				{% endif %}
				{% if not username_is_valid %}
					<p class="error-message">Username is not valid.</p>
					{% endif %}
			</div>
		</div>
	</div>
</body>
</html>
