{% load static %}

<style>
	.hidden {
	display: none;
}

</style>
<link rel="stylesheet" href="{% static 'core/css/sidenav.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
<span class="burger-menu" id="burger-menu" onclick="openNav(); hideMenu()">&#9776;</span>

<div id="SidenavID" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav(); openMenu()">&times;</a>
	<a href="{% url 'core:home' %}">Home</a>
	<a href="{% url 'core:my_profile' %}">Profile</a>
	<a href="{% url 'core:social' %}">Social</a>
	<a href=" {% url 'chat:direct_message' %}">Chat</a>
	<a href="{% url 'core:logout' %}">Logout</a>
</div>

<script src="/static/core/js/navbar.js"></script>
