{% load static %}
{% load socialaccount %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/social.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!---------- Media Queries ---------->
    <link rel="stylesheet" href="{% static 'core/css/media-queries/social_media-queries-width.css' %}" media="screen and (max-width: 942px)">
    <link rel="stylesheet" href="{% static 'core/css/media-queries/social_media-queries-height.css' %}" media="screen and (max-height: 642px)">
    <title>Profile Page - {{ user.username }}</title>
</head>

<body class="scroll">
    <script src="{% static 'core/js/social_utils.js' %}"></script>
    <!---------- Global container for layout management ---------->
    <div class="container">
        <!---------- Background Video ---------->
        <video autoplay muted loop class="video-background">
            <source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        {% if message_to_user %}
            <div id="message_to_user" class="exception hidden"> {{ message_to_user }} </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    showNotification("{{ message_to_user }}");
                });
            </script>
        {% endif %}

        <!---------- Social Buttons on top of the page ---------->
        <div class="social-bar">
            <!---------- All Friends Button ---------->
            <div class="social-bar--buttons-container">
                <button type="submit" class="social-bar--buttons" data-info="all_friends" data-img-clicked="{% static 'core/images/friends-logo-dark.png' %}">
                    <img src="{% static 'core/images/friends-logo.png' %}" class="icons-logos">
                    <span>Friends</span>
                </button>
            </div>

            <!---------- Pending Requests Button ---------->
            <div class="social-bar--buttons-container">
                <button type="submit" class="social-bar--buttons" data-info="pending_requests" data-img-clicked="{% static 'core/images/pending-logo-dark.png' %}">
                    <img src="{% static 'core/images/pending-logo.png' %}" class="icons-logos">
                    <span>Pending</span>
                </button>
            </div>

            <!---------- Blocked Users Button ---------->
            <div class="social-bar--buttons-container">
                <button type="submit" class="social-bar--buttons" data-info="blocked_users" data-img-clicked="{% static 'core/images/blocked-logo-dark.png' %}">
                    <img src="{% static 'core/images/blocked-logo.png' %}" class="icons-logos">
                    <span>Blocked</span>
                </button>
            </div>

            <!---------- Search User Field ---------->
            <div class="social-bar--search-user">
                <div class="social-bar--search-field">
                    <form action="/social/" method="post" class="">
                        {% csrf_token %}
                        {{ search_form.as_p }}
                    </form>

                    {% if not user_found %}
                        <p class="error-message">The user <strong>{{ searched_username }}</strong> could not be found.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!---------- Info Container : displays either friends list, pending requests or blocked users - Has to be empty by default to make sure that nothing will be displayed at first ---------->
        <div class="social--info-container" id="infoContainer"></div>

        <!---------- Templates for each button content ---------->
        <!---------- Friends Section ---------->
        <template id="all-friends-template">
            <div class="social--container-animation">
                <div class="social--title">
                    <h3 class="social--title-style">All Friends</h3>
                </div>
                <hr class="social-bar--line">
                <div class='social--display-list'>
                    <ul class='social--all-users-profile'>
                        {% for friend in all_friends %}
                            <li class="social--each-user-profile-container">
                                <div class='container--user-avatar'>
                                    <a href="/profile/{{ friend.username }}">
                                        <img src="{{ friend.userprofile.avatar.url }}" alt="User Avatar" class="user-avatar-img"/>
                                    </a>
                                </div>
                                <div class="social--user-profile-username">
                                    <a href="/profile/{{ friend.username }}"> {{ friend.username }} </a>
                                </div>
                                <div class="social--user-profile-buttons">
                                    <button type="submit" class="social--user-profile-buttons-design buttons-design">
                                        <a href="{% url 'chat:get_room_redirect' friend.id %}">
                                            <img src="{% static 'core/images/chat-logo.png' %}" class="social--buttons-section-logos">
                                        </a>
                                    </button>
                                    <!-- <button type="submit" class="social--user-profile-buttons-design buttons-design">
                                        <a href="{% url 'game:game_invitation' friend.id %}">
                                            <img src="{% static 'core/images/game-logo.png' %}" class="social--buttons-section-logos">
                                        </a>
                                    </button> -->
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </template>

        <!---------- Pending Requests Section ---------->
        <template id="pending-requests-template">
            <div class="social--container-animation">
                <div class="social--title">
                    <h3 class="social--title-style">Pending Requests</h3>
                </div>
                <hr class="social-bar--line">
                <div class='social--display-list'>
                    <ul class='social--all-users-profile'>
                        {% for friend_request in all_friend_request %}
                            {% if user.id != friend_request.sender.id %}
                                <li class="social--each-user-profile-container">
                                    <div class='container--user-avatar'>
                                        <img src="{{ friend_request.sender.userprofile.avatar.url }}" alt="User Avatar" class="user-avatar-img"/>
                                    </div>
                                    <div class="social--user-profile-username">
                                        <a href="/profile/{{ friend_request.sender.username }}">{{ friend_request.sender.username }}</a>
                                    </div>
                                    <div class="social--user-profile-buttons">
                                        <button type="submit" class="social--user-profile-buttons-design buttons-design">
                                            <a href="/decline_friend_request/{{ friend_request.id }}">
                                                <img src="{% static 'core/images/decline-logo.png' %}" class="social--buttons-section-logos">
                                            </a>
                                        </button>
                                        <button type="submit" class="social--user-profile-buttons-design buttons-design">
                                            <a href="/accept_friend_request/{{ friend_request.id }}">
                                                <img src="{% static 'core/images/accept-logo.png' %}" class="social--buttons-section-logos">
                                            </a>
                                        </button>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </template>

            <!---------- Blocked Users Section ---------->
        <template id="blocked-users-template">
            <div class="social--container-animation">
                <div class="social--title">
                    <h3 class="social--title-style">Blocked Users</h3>
                </div>
                <hr class="social-bar--line">
                <div class='social--display-list'>
                    <ul class='social--all-users-profile'>
                        {% for blocked_by_me in blocked_by_mes %}
                            <li class="social--each-user-profile-container">
                                <div class='container--user-avatar'>
                                    <img src="{{ blocked_by_me.userprofile.avatar.url }}" alt="User Avatar" class="user-avatar-img"/>
                                </div>
                                <div class="social--user-profile-username">
                                    <a>{{ blocked_by_me.username }}</a>
                                </div>
                                <div class="social--user-profile-buttons">
                                    <button type="submit" class="social--user-profile-unblock-button-design buttons-design">
                                        <a href="/unblock_user/{{ blocked_by_me.id }}" class="social--buttons-section-text">
                                            Unblock
                                        </a>
                                    </button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </template>
    </div>

    <script src="{% static 'core/js/social.js' %}"></script>

</body>
</html>
