{% load static %}
{% load socialaccount %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/user_profile.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/social.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/media-queries/user_profile-media-queries-width.css' %}" media="screen and (max-width: 1100px)">
    <link rel="stylesheet" href="{% static 'core/css/media-queries/user_profile-media-queries-height.css' %}" media="screen and (max-height: 780px)">
    <title>Profile Page</title>
</head>

<body class="no-scroll">
    <!---------- Global container for layout management ---------->
    <div class="container">
        <!---------- Background Video ---------->
        <video autoplay muted loop class="video-background">
            <source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="border-container">
            <!---------- Stats ---------->
            <div class="profile--stats-global-container">
                <div class="profile--stats-content">
                    <div class="profile--stats-title-container">
                        <h2 class="profile--stats-title">Game Stats</h2>
                    </div>
                    <div class ="profile--stats">
                        <img src="{% static 'core/images/win-logo3.png' %}" class="stats-logos">
                        <p> {{ user_profile.userprofile.victory }}</p>
                    </div>
                    <div class ="profile--stats">
                        <img src="{% static 'core/images/defeats-logo.png' %}" class="stats-logos">
                        <p> {{ user_profile.userprofile.defeat }}</p>
                    </div>
                </div>
            </div>

            <div class="profile--main-info-container">
                <!---------- Avatar ---------->
                <div class="profile--avatar-username-container">
                    <div class="container--user-avatar">
                        <img src="{{ user_profile.userprofile.avatar.url }}" alt="User Avatar" class="profile--user-avatar user-avatar-img"/>
                    </div>
                    <!---------- Username ---------->
                    <div class="profile--username">
                        <h2>{{ user_profile.username }}</h2>
                    </div>
                </div>

                <div class="profile--buttons-container">
                    {% if request.user.id != user_profile.id %}
                        <!---------- Random user ---------->
                        <div class="profile--friend-request-button-container">
                            {% if is_blocked_by_me %}
                            <div class="social--user-profile-buttons">
                                <form action="{% url 'core:unblock_user' user_profile.id%}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="profile--buttons buttons-design">
                                        <img src="{% static 'core/images/blocked-logo-white.png'%}" class="icons-logos">
                                        <span>Unblock</span>
                                    </button>
                                </form>
                            </div>
                            {% elif not is_friend and not sent_friend_request and not received_friend_request and not is_blocked_by_them  %}
                            <form action="/send_friend_request/{{ user_profile.id }}/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/add-friend-logo.png'%}" class="icons-logos">
                                    <span>Send a Friend Request</span>
                                </button>
                            </form>

                            {% elif sent_friend_request %}
                            <form action="{% url 'core:decline_friend_request' sent_friend_request.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/decline-logo.png'%}" class="icons-logos">
                                    <span>Delete friend request</span>
                                </button>
                            </form>
                            {% elif received_friend_request %}
                            <form action="{% url 'core:accept_friend_request' received_friend_request.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/accept-logo.png'%}" class="icons-logos">
                                    <span>Accept Friend Request</span>
                                </button>
                            </form>
                            <form action="{% url 'core:decline_friend_request' received_friend_request.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/decline-logo.png'%}" class="icons-logos">
                                    <span>Decline Friend Request</span>
                                </button>
                            </form>
                            </div>
                            {% endif %}
                        {% endif %}


                        <!---------- Friend ---------->
                        {% if is_friend %}
                        <div class="profile--message-button-container">
                            <form action="{% url 'chat:room' room_name user_profile.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/chat-logo.png' %}" class="icons-logos">
                                    <span> Message </span>
                                </button>
                            </form>
                        </div>
                        <div class="profile--remove-button-container">
                            <form action="{% url 'core:remove_friend' user_profile.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/decline-logo.png'%}" class="icons-logos">
                                    <span> Remove friend </span>
                                </button>
                            </form>
                        </div>
                        {% endif %}

                    <!---------- Block Button ---------->
                    {% if user_profile != user and not is_blocked_by_me and not is_blocked_by_them %}
                    <div class="profile--block-button-container">
                            <form action="{% url 'core:block_user' user_profile.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="profile--buttons buttons-design">
                                    <img src="{% static 'core/images/blocked-logo-white.png'%}" class="icons-logos">
                                    <span> Block </span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
