{% load static %}

  <!-- Fonts et CSS -->
  <link rel="stylesheet" href="{% static 'css/profil.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  
  <script type="module" src="{% static 'js/1_space_cubes.js' %}"></script>
  
  <div id="app-content">
    <div id="navigation" class="navig">
      <!-- <div class="navig"> -->
  
        <!-- <button class="link_temp" id="avatar">AVATAR / link</button> -->
        <div class="blur-box_profil">
          <div class="bento-container">
      
            <div class="card bento_large">
              <h4>Settings</h4>
              <!-- <button>Explore</button> -->
            </div>
      
            <div class="card bento_long">
              <h4>Colors</h4>
            </div>
<!--       
            <div class="card bento_small">
              <h3>Settings</h3>
            </div> -->
      
            <div class="card bento_small">
        <button class="link_temp" id="avatar">test</button>

              <h3>  Ball</h3>
            </div>
      
          </div>
        </div>
      </div>
  
    </div>
    <canvas class="webgl"></canvas> 
      