{% load static %}

<!-- Fonts et CSS -->
<!-- <link rel="stylesheet" href="{% static 'css/3_blue_rubix.css' %}"> -->
<script type="module" src="{% static 'js/3_blue_rubix.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/3_blue_rubix.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


<div id="app-content">

  <div id="navigation" class="navig">


    <div class="settings-container">
      <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo">
      <form id="game-settings-form" action="/tournois/" method="get" class="settings-container" >
        <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo">
      


            <!--BONUS-->
        <div class="category4">
          <h2>Bonus</h2>
          <div class="options">
            <div class="option">
              <input type="checkbox" name="bonus" id="bonus_able" value="1">
              <label for="bonus_able"></label>
            </div>
          </div>
        </div>
        <!-- Level Category -->
        <div class="category">
          <h2>Level</h2>
          <div class="options">
            <div class="option">
              <input type="radio" name="level" id="easy" value="1">
              <label for="easy"></label>
              <span>Noob</span>
            </div>
            <div class="option">
              <input type="radio" name="level" id="medium" value="2" checked>
              <label for="medium"></label>
              <span>Medium</span>
            </div>
            <div class="option">
              <input type="radio" name="level" id="hard" value="3">
              <label for="hard"></label>
              <span>Hard</span>
            </div>
          </div>
        </div>
      
        <!-- Colors Category -->
        <div class="category2">
          <h2>Color Mode</h2>
          <div class="options">
            <div class="option">
              <input type="radio" name="color" id="color1" value="1" checked>
              <label for="color1"></label>
              <span>The Special</span>
            </div>
            <div class="option">
              <input type="radio" name="color" id="color2" value="2">
              <label for="color2"></label>
              <span>Too Blue</span>
            </div>
            <div class="option">
              <input type="radio" name="color" id="color3" value="3">
              <label for="color3"></label>
              <span>White Light</span>
            </div>
          </div>
        </div>
      
        <!-- Points to Win Category -->
        <div class="category3">
          <h2>Points to Win</h2>
          <div class="options">
            <div class="option">
              <input type="radio" name="score" id="pt5" value="1" checked>
              <label for="pt5"></label>
              <span>3 points</span>
            </div>
            <div class="option">
              <input type="radio" name="score" id="pt10" value="2">
              <label for="pt10"></label>
              <span>6 points</span>
            </div>
            <div class="option">
              <input type="radio" name="score" id="pt15" value="3">
              <label for="pt15"></label>
              <span>12 points</span>
            </div>
          </div>
        </div>

    
        <a class="quit-button" style="text-decoration: none;" href="/">QUIT</a>
        <button class="play-button" type="submit">PLAY</button>
      </form>
          </div>
        </div>
      </div>

    </div>
  <canvas class="webgl"></canvas>
</div>



