{% load static %}



<!-- Fonts et CSS -->
<link rel="stylesheet" href="{% static 'css/VS_ou_V4.css' %}">
<link rel="stylesheet" href="{% static 'css/4_fall.css' %}">
<script type="module" src="{% static 'js/4_fall.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/basic_setting.css' %}">
<div id="app-content">
 
  
          <div id="navigation" class="navig">
                  <div class="credits-container">
                    <div class="credits">
                        <img class="logo_" src="{% static 'logo/entropia9.png' %}" ><br>
                
                        <span class="project-title">ENTROPIA Pong Field</span><br><br><br><br>
                        <span class="category">Un court-métrage de M.Ft Transcendence</span><br><br><br>
                
                        <span class="project-title">FRONT-END - THREEJS, WEBGL </span><br>
                        <span class="project-title">BACK-END - DJANGO </span><br><br><br>

                
                        <div class="credits-columns">
                            <div class="left-column">
                                <div class="role">Front-End 3D Developer</div>
                                <div class="role">Back-End Developer</div>
                                <div class="role">Back-End Developer</div><br><br>
                                <!-- <div class="role">Artistic Director</div> -->
                                <div class="role">Premier Coach</div>
                                <div class="role">Deuxième Coach</div>
                                <!-- <div class="role">Confort ultime</div> -->
                                <div class="role">Sang-froid</div>
                                <div class="role">Onfécomment</div>
                                <div class="role">Levetôt</div>
                                <div class="role">Levetrotar</div>
                                <div class="role">Free Palestine</div>
                                <div class="role">Cassage de dos</div>
                                <div class="role">Les BACKeu</div>
                                <div class="role">L'éFRONTé</div>
                                

                                <!-- Ajouter d'autres rôles ici -->
                            </div>
                            <div class="right-column">
                                <div class="name">Margaux Hérault</div>
                                <div class="name">Inès Tahani</div>
                                <div class="name">Matéo Girardot</div><br><br>
                                <div class="name">Café</div>
                                <div class="name">Red Bull</div>
                                <!-- <div class="name">Le jogging non lavé depuis 3 jours</div> -->
                                <div class="name">Matéo Girardot</div>
                                <div class="name">Bahon Panic</div>
                                <div class="name">Matéo Girardot</div>
                                <div class="name">Margaux Hérault</div>
                                <div class="name">Inès Tahani</div>
                                <div class="name">La chaise de l'école</div>

                                <div class="name">Inès Tahani & Matéo Girardot</div>
                                <div class="name">Margaux Hérault</div>
                                <!-- Ajouter d'autres noms ici -->
                            </div>
                        </div><br>
                
                        <div class="credits-columns">
                            <div class="left-column">
                               
                            </div>
                            <div class="right-column">
                            
                            </div>
                        </div><br>
                        <br>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                
                        <div class="central-line">
                          <span class="thanks">Remerciements à tous les bugs qui nous ont poussés à remettre en question nos choix professionnels.</span><br><br><br>
                            <span class="thanks">Merci au Blackhole, sans qui ce projet n’aurait pas vu le jour.</span><br><br><br>
                            <span class="thanks">Merci au changement de sujet, qui nous aura aidé à apprécier le Burn-Out plus rapidement.</span><br><br><br>
                        </div><br><br><br><br><br><br><br><br><br>
                
                        <div class="central-line">
                          <span class="thanks">Remerciements à l'invention du post-it, des sets de table et à la boulangerie du coin qui n’a jamais failli.</span><br><br><br>
                          <span class="thanks">Remerciement sécial à Hkovac pour sa sagesse infinie pendant les moments de panique.</span><br><br>
                        </div><br><br><br><br><br><br><br><br>
                
                        <span class="category">Production: Ecole 42 Paris</span><br>
                    </div>
                </div>
                


          
      </div>
  
  
    <!-- <script src="router.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.min.js"></script>
    <canvas class="webgl"></canvas>
  