{% load static %}
{% load i18n %}

<script type="module" src="{% static 'js/pong.js' %}"></script>
<canvas class="webgl"></canvas>

<!-- Fonts et CSS -->
<link rel="stylesheet" href="{% static 'css/pong.css' %}">
<div id="app-content">
  <div id="navigation" class="navig">

    <!-- <div class="links_transition">
      <button id="start_transition" class="start_transition">transition</button>
    </div> -->

    <!-- <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo"> -->

    <!-- <div class="links_transition">
      <button id="pause" class="start_transition">PAUSE (ou)</button>
    </div> -->
    
    <!-- <div class="links_transition">
      <button id="pause" class="pause">PAUSE ( ou crash)</button>
      <h2>(j'aurais prévenu)</h2>
      <h2>(et aussi, le bouton est cassé)</h2>
      <h2>(mais tu peux faire ESPACE)</h2> -->

  
      
        <div class="fixed-top">
          <div class="n_round_text">
          {% trans "FIRST TO" &}
          </div>
                  <div class="n_round" id="n_round">5</div>
        </div>
 
      

    
      <div class="parent_controls_l">
        <div class="controls">
          <div class="fleche">↑ E</div>
          <div class="fleche">↓ D</div>
        </div>
      </div>
      
      <div class="parent_controls_r">
        <div class="controls">
          <div class="fleche">↑ O</div>
          <div class="fleche">↓ K</div>
        </div>
      </div>
      

      <div class="blur-box_score_parent_l">
        <div class="blur-box_score">
          <div class="name1">
            {% trans "ME" %}
          </div>
          <div class="score1"  id="scorePlayer1">0</div>
        </div>
      </div>
      
      <div class="blur-box_score_parent_r">
        <div class="blur-box_score">
          <div class="name2">
            {% trans "GLOBO GUEST" %}
          </div>
          <div class="score2"  id="scorePlayer2">0</div>
        </div>
      </div>

  
      <div class="fixed-bottom">
        {% trans "⏸ / space" %}
      </div>
      
      
      
      <div id="countdown" class="countdown">
        <div class="countdown-number"></div>
      </div>
    

  </div>

</div>

<script type="module" src="{% static 'js/pong.js' %}"></script>