<<<<<<< HEAD
.pas_compris {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    width: 100%;
    /* border: 2px solid red; */
    /* background: rgb(0, 21, 255); */

    padding: 20px;
    box-sizing: border-box;
  }
  
  .nav-container {
    height: 70%;
    width: 70%;
    display: flex;
    gap: 50px; /* Espace entre les colonnes */
    background: rgb(0, 21, 255);
    padding: 40px;
    border-radius: 10px;
    /* box-shadow: 0 4px 15px rgba(0,0,0,0.1); */
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    /* border: 2px solid rgb(255, 255, 255); */

    box-sizing: border-box;
  }

ul {
    margin-top: 200px;
    border: red 2px solid;

}

li {
    
    list-style-type: none;
    margin-bottom: 20px;
    border: red 2px solid;
=======
ul {
    margin-top: 200px;
}

li {
    list-style-type: none;
    margin-bottom: 20px;
>>>>>>> origin/jwt_token
}

.link_temp {
    text-decoration: none;
<<<<<<< HEAD
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
=======
>>>>>>> origin/jwt_token
}

.link_temp:hover {
    text-decoration: none;
    cursor: pointer;
<<<<<<< HEAD
}


=======
}
>>>>>>> origin/jwt_token
