*
{
    margin: 0;
    padding: 0;
}

html,
body
{

    /* margin: 0; */
    /* width: 100%;
    height: 100%; */
    background-color: rgb(0, 0, 0); /* Fond noir pour l'HTML */
    overflow: hidden;
}

.header, .main, .footer {
   
  position: relative;
  z-index: 1; /* Plus haut que le canvas */
}

.webgl
{
    position: fixed;
    top: 50;
    left: 50;
    outline: none;
    background: #000000;
}

/* 
canvas.webgl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  pointer-events: none; /* Le canvas ne capte pas les événements de souris */
/* }
 */ 


.dg.main {
  zoom: 0.8; /* Fonctionne mieux sur Dat.GUI */
}


.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.7s ease-out;
  }
  
  .loader-bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 1.7s cubic-bezier(0.2, 0.7, 0.3, 1);
  }
  
  /* États finaux */
  .loader-overlay--fade {
    opacity: 0;
  }
  
  .loader-bar--retract {
    transform-origin: right center;
    transition: transform 0.9s cubic-bezier(0.7, 0, 0.2, 1);
  }



/* .point
{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff; 
     z-index: 1; 
     color: #ffffff;
}
 */

.point .label 
{
    position: absolute;

    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff77;
    border: 1px solid #ffffff77;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    font-weight: 100;
    font-size: 14px;
}




.bree-serif-regular {
  font-family: "roboto";
  font-weight: 400;
  font-style: normal;
}


/* 




/* Centre le bouton */
.title {
  margin-top: 200px;
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 800; 
  font-style: italic; 
  line-height: 0.9;
 
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 10px 10px;

  font-size: clamp(90px, 10vw, 140px);

  color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  /* z-index: 1; */
  z-index: 1; 

}

.blur-box {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 50%; /* Centre verticalement */
  left: 73.5%; /* Décalé vers la droite */
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translate(-50%, -50%); /* Ajuste le centrage */
  background-color: rgba(227, 217, 255, 0.035);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 20px;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  margin-right: 40px;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.072);

}





/* Styles généraux pour tous les boutons */
.login, .password, .signin_button .signin_42 {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #ffffffca;

  background-color: rgba(255, 255, 255, 0.035);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.032);

  /* color: black; */
  /* border: 2px solid white; */
  /* border: none;  */

 
  border-radius: 5px;
  cursor: pointer;
  width: 75%;  /* Ajuste la largeur de tous les boutons */

  max-width: 230px;  
  text-align: center;
  box-shadow: none; /* Supprime l'ombre */
  outline: none; 


  
}


.sign_title {
  padding: 5px 10px 15px 10px;

  font-weight: 600;
  font-size: 20px;
  border: none;
  background: none;
  color: rgb(213, 214, 216);
  text-align: center;
}
/* Ajustement individuel */
.password, .login , .forgot {
  color: rgb(107, 109, 113);

  font-weight: 600;
  font-size: 15px;
  padding: 10px 10px 10px 10px;

  /* border: 1px solid red; */
  text-align: left;

  position: relative;
  width: 100%;  /* Même largeur que .password */
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */


}

.signin_button {
  font-weight: 800;
  font-size: 19px;  /* Réduction de la taille du texte */
  padding: 8px 20px ;  /* Plus petit que les autres */
  margin-top: 30px;
  /* border: 1px solid blue; */
  background-color: #ffffffee;
}

.signin_42 {
  font-weight: 800;
  font-size: 19px;  /* Réduction de la taille du texte */
  padding: 8px 20px ;  /* Plus petit que les autres */
  margin-top: 10px;
  /* border: 1px solid blue; */
  background-color: #3808d8ee;
}



.password {
  margin-bottom: 0px;
}

.forgot {
  /* position: absolute;
  bottom: 0;
  right: 0; */
 
  margin-top: 0 px;
  font-weight: 600;
  font-size: 11px;
  border: none;
  background: none;
  color: rgba(213, 214, 216, 0.857);
  cursor: pointer;
  text-align: right;
  /* border: 2px solid white; */
}


