{% load socialaccount %}
{% load static %}
{% include 'core/sidenav.html' %}


<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'game/css/play.css' %}">
		<link rel="stylesheet" href="{% static 'game/css/tournament.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/social.css' %}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>

	<body class="no-scroll">
		<!---------- Global container for layout management ---------->
		<div class="container">
			<video autoplay muted loop class="video-background">
				<source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
				Your browser does not support the video tag.
			</video>

			<div class="tournament-title">
				<h1 class="social--title-style">Tournament</h1>
			</div>


			<div class="container-players">
				<div class="players-column">
					<label for="player-one"></label>
					<input type="text" id="player-one" value="{{ user.username }}" class="change-btn" disabled />
					<label for="player-two"></label>
					<input type="text" id="player-two" placeholder="Player Two" class="change-btn" required maxlength="8">
				</div>
				<div class="players-column">
					<label for="player-three"></label>
					<input type="text" id="player-three" placeholder="Player Three" class="change-btn" required maxlength="8">

					<label for="player-four"></label>
					<input type="text" id="player-four" placeholder="Player Four" class="change-btn" required maxlength="8">

					<button id="playButton" class="play-button buttons-design">Play</button>
				</div>
			</div>

			<div class="game-container hidden">
				<div id="game-area">
					<div class="player_1_username"></div>
					<div class="player_2_username"></div>
				</div>
			</div>
		</div>

	</body>

	<script>
		const gameURL = "{% url 'game:play' %}"
		const gameJS = "{% static 'game/js/play.js' %}"
        const victoryImagePath = "{% static 'core/images/win-logo3.png' %}";
		const tournament = true
        const playURL = "{% url 'game:tournament' %}";
		const homeURL = "{% url 'core:home' %}";
	</script>

	<script src="{% static 'game/js/utils.js' %}"></script>
	<script src="{% static 'game/js/tournament.js' %}"></script>

</html>
