{% load socialaccount %}
{% load static %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/waiting_game.css' %}">
</head>
<body>
<body>
    {{ game_id|json_script:"game_id" }}

    <!---------- Background Video ---------->
    <video autoplay muted loop class="video-background">
        <source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <script>
        const currentPlayer = "{{ player }}"; // This could be "player_one" or "player_two"
    </script>
    
    <!---------- Ready Section ---------->
    <div class="ready-container">   
        <div class="player" id="player-one">
            <h2 class="item">{{ player_one.username }} (P1)</h2>
            <button class="buttons-design" id="player-one-button">Ready?</button>
        </div>
        <div class="player" id="player-two">
            <h2 class="item">{{ player_two.username }} (P2)</h2>
            <button class="buttons-design" id="player-two-button">Ready?</button>
        </div>
    </div>

    <!---------- Countdown Section ---------->
    <div class="countdown" id="countdown" style="display: none;">3</div>

    <script src="{% static 'game/js/waiting_game.js' %}"></script>
</body>


    

</body>
</html>
