{% extends "base.html" %}

{% block content %}
<h1>
	{{ user.username }}
</h1>
<img src="{{ user.avatar.url }}" alt="Avatar" width="256" height="256">

<!-- Ancienne version de Mateo (n'inclut pas les photos de l'intra) -->
<!-- <img src="{{ user.avatar }}" alt="Avatar" style="width:100px; height:100px; border-radius: 50%;"> -->

<!-- Ancienne version de Ines (fonctionnelle mais pas propre) -->
<!-- {% if user.avatar %}
  <img src="{{ user.avatar }}" alt="Avatar" style="width:100px; height:100px; border-radius: 50%;">
{% else %}
  <img src="/media/default.png" alt="Default Avatar" style="width:100px; height:100px; border-radius: 50%;">
{% endif %} -->

<p>
	Wins : {{ user.wins }} | Losses : {{ user.losses }}
</p>
{% if user == request.user %}
	<a href="{% url 'my_match_history' %}">
		View Match History
	</a>
	<hr>
	<a href="{% url 'friends_list' %}">
		View friends
	</a>
	<hr>
	<a href="{% url 'profile_edit' %}">
		Edit profile
	</a>
{% else %}
	<a href="{% url 'match_history' user.username %}">
		View Match History
	</a>
	<hr>
	<a href="{% url 'add_friend' user.username %}">
		Add Friend
	</a>
	<hr>
	<a href="{% url 'remove_friend' user.username %}">
		Remove Friend
	</a>
	<hr>
	<div>
		{% if user.online_status %}
			<span style="color:green">
				Online
			</span>
		{% else %}
			<span style="color:red">
				Offline
			</span>
		{% endif %}
	</div>
{% endif %}
{% endblock %}
