{% comment %} {% extends "base.html" %} {% endcomment %}
{% load i18n %}

{% block content %}
<h1>
	{{ user.username }}
</h1>
<img src="{{ user.avatar.url }}" alt="Avatar" width="256" height="256">

<!-- Ancienne version de Mateo (n'inclut pas les photos de l'intra) -->
<!-- <img src="{{ user.avatar }}" alt="Avatar" style="width:100px; height:100px; border-radius: 50%;"> -->

<!-- Ancienne version de Ines (fonctionnelle mais pas propre) -->
<!-- {% if user.avatar %}
  <img src="{{ user.avatar }}" alt="Avatar" style="width:100px; height:100px; border-radius: 50%;">
{% else %}
  <img src="/media/default.png" alt="Default Avatar" style="width:100px; height:100px; border-radius: 50%;">
{% endif %} -->

<p>
	{% blocktrans with wins=user.wins losses=user.losses %}
		Wins : {{ wins }} | Losses : {{ losses }}
	{% endblocktrans %}
</p>
{% if user == request.user %}
	<a href="{% url 'my_match_history' %}">
		{% trans "My Match History" %}
	</a>
	<hr>
	<a href="{% url 'friends_list' %}">
		{% trans "View friends" %}
	</a>
	<hr>
	<a href="{% url 'profile_edit' %}">
		{% trans "Edit profile" %}
	</a>

	{% if not user.login_42 %}
		{% if not user.two_factor %}
			<hr>
			<a href="{% url 'two_factor_setup' %}">
				Enable 2FA
			</a>
		{% else %}
			<hr>
			<a href="{% url 'two_factor_disable' %}">
				Disable 2FA
			</a>
		{% endif %}
	{% endif %}

{% else %}
	<a href="{% url 'match_history' user.username %}">
		{% trans "View Match History" %}
	</a>
	<hr>
	<a href="{% url 'add_friend' user.username %}">
		{% trans "Add Friend" %}
	</a>
	<hr>
	<a href="{% url 'remove_friend' user.username %}">
		{% trans "Remove Friend" %}
	</a>
	<hr>
	<div>
		{% if user.online_status %}
			<span style="color:green">
				{% trans "Online" %}
			</span>
		{% else %}
			<span style="color:red">
				{% trans "Offline" %}
			</span>
		{% endif %}
	</div>
{% endif %}
{% endblock %}
