
{% block title %}
<h1>
	Welcome to our pong
</h1>
{% endblock %}
{% if user.is_authenticated %}
<h2>
	Welcome, {{user.username}} !
</h2>
<p>
	You are currently logged in.
</p>
<p>
	<a href="{% url 'account_logout' %}">
		Log out
	</a>
</p>
{% else %}
<h2>
	You are not logged in
</h2>
<p>
	Please log in or sign up to access all features.
</p>
{% endif %}

<h2>
	Options:
</h2>
	<ul>
		{% if not user.is_authenticated %}
		<li>
			<a href="{% url 'users:sign_up' %}">
				Sign up
			</a>
		</li>
		<li>
			<a href="{% url 'account_login' %}">
				Log in
			</a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'account_reset_password' %}">
				Reset Password
			</a>
		</li>
	</ul>
