li a {
	color: red;
}

body {
	background: white url("image/pokemon_background.jpg");
	background-repeat: repeat;
	/* TO REPEAT OR NOT THE IMAGE IN THE BACKGROUND
			repeat : repeats it
			no-repeat : only one image
 */
	background-position: center top;
	/* DIFFERENT POSITTION POSSIBLE :
			left top
			left center
			left bottom
			right top
			right center
			right bottom
			center top
			center center
			center bottom
	have not seen reel differentces between left right and center
 */
	background-size: cover;
	/* DIFFERENT IMAGE SIZE
			cover :	the image cover the web page according to the position,
					keeps image ratio
			<width>% <height>% :	the image do not keep its integrity and is size
								according the content of the page
			contain :	keep the image ratio, the size depends on the content of
						the page
			<width>vw <height>vh :	viewport width/height, change image ration to
									make it fit the visible screen
			<width>px <height>px :	pixel width/height, change image ratio to new
									pixel value for width and height

*/
	background-attachment: scroll;
	/* background-color: yellow; */

	backdrop-filter: invert(100%);
}