{% load static %}
{% load i18n %}

<!-- Fonts et CSS -->
<link rel="stylesheet" href="{% static 'users/css/profil.css' %}">
<script type="module" src="{% static 'users/js/profil.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

{% comment %} <script src="{% url 'javascript-catalog' %}?lang={{ LANGUAGE_CODE }}"> {% endcomment %}

<div id="app-content">
  <div id="navigation" class="navig">
    <!-- <div class="navig"> -->
      
      <!-- <a class="settings" href="/avatar/" class="link_temp" style="margin-top: 100px;">AVATAR / link</a> -->
      <div class="blur-box_profil">
        <div class="bento-container">
          
          <div class="card bento_large">
            <h4 class="titre">
				{% trans "Match history" %}
			</h4>
            <a class="settings" href="/tournament/{{ user.username }}/match_history/">
				{% trans "View Match History" %}
            </a>
            <!-- <button>Explore</button> -->
          </div>
          
          <div class="card bento_long">
            <h1 class="titre">
              {{ user.username }}
              <br>
            </h1>
            <p class="win_losse">
				{% blocktrans with wins=user.wins losses=user.losses %}
					Wins : {{ wins }} | Losses : {{ losses }}
				{% endblocktrans %}
            </p>
            {% if user == request.user %}
				{% if not user.login_42 %}
					{% if user.two_factor %}
						<hr>
						<a href="/users/accounts/two_factor/disable/">
							{% trans "Disable 2FA" %}
						</a>
					{% else %}
						<hr>
						<a href="/users/accounts/two_factor/setup/">
							{% trans "Enable 2FA" %}
						</a>
					{% endif %}
				{% endif %}

            <h4 class="titre">
				{% trans "Profile" %}
			</h4>
            <a class="settings" href="/users/friends_list/">
				{% trans "View friends" %}
            </a>
          </div>
          
          
          <div class="card bento_small">
            <img src="{{ user.avatar.url }}" class="avatar" alt="Avatar" width="256" height="256">
            <h3 class="titre">
			{% trans "Avatar" %}
			</h3>
            <a class="settings" href="/users/profile_edit/">
              {% trans "Edit Avatar (a link)" %}
            </a>
            
          </div>
          <div class="card bento_small">
            <h3 class="titre">
				{% trans "Settings" %}
			</h3>
            <a class="settings" href="/users/profile_edit/">
              {% trans "Edit profile" %}
            </a>
          </div>
          
            {% else %}
              <a class="settings" href="/users/add_friend/">
                {% trans "Add Friend" %}
              </a>
              <hr class="titre">
              <a class="settings" href="/users/remove_friend/">
                {% trans "Remove Friend" %}
              </a>
              <hr class="titre">
              <div>
                {% if user.online_status %}
                  <span style="color:green">
                    {% trans "Online" %}
                  </span>
                {% else %}
                  <span style="color:red">
                    {% trans "Offline" %}
                  </span>
                {% endif %}
              </div>
            {% endif %}
        </div>
      </div>
    </div>
    
  </div>


  
