{% load static %}
{% load i18n %}

{% load static %}
{% load i18n %}
<!-- Fonts et CSS -->
<link rel="stylesheet" href="{% static 'users/css/profil.css' %}">
<script type="module" src="{% static 'users/js/profil.js' %}"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

{% comment %} <script src="{% url 'javascript-catalog' %}?lang={{ LANGUAGE_CODE }}"> {% endcomment %}

<div id="app-content">
  <div id="navigation" class="navig">

      <div class="blur-box_profil">
        <div class="bento-container">
          
          <div class="card bento_large" id="2">
            {% if user == request.user %}
            <form method="post" enctype="multipart/form-data" action="/api/users/profile_edit/" style="margin: 0px;" data-no-spa id="username_form">
              {% csrf_token %}
              <input class="username_input" autocomplete="off" type="text" name="username" value="{{ user.username }}">
              <div class="profil_edit_parent">
              <h4 class="titre">Profil</h4>
                {% if not user.login_42 %}
                  {% if user.two_factor %}
                    <hr>
                    <a href="/users/accounts/two_factor/disable/">
                      {% trans "Disable 2FA" %}
                    </a>
                    </hr>
                  {% else %}
                    <hr>

                 
                    <a class="settings" "/users/accounts/two_factor/setup/">
                      {% trans "Enable 2FA" %}
                    </a>
                  
                  </hr>
                  {% endif %}
                {% endif %}
            </form>
            </div>
            {% else %}
            <h5 class="username">
              {{ user.username }}
            </h5>
            <div class="profil_edit_parent" >
              {% if isFriend %}
              <a class="settings" href="/users/remove-friend/?username={{ user.username }}">
                Remove Friend
              </a>
              {% else %}
              <a class="settings" href="/users/add-friend/?username={{ user.username }}">
                Add Friend
              </a>
              {% endif %}
            </div>
            <div>
              {% if user.online_status %}
                  <span style="color:green">
                    {% trans "Online" %}
                  </span>
                {% else %}
                  <span style="color:red">
                    {% trans "Offline" %}
                  </span>
                {% endif %}
              </div>
            {% endif %}
          </div>
          
          <div class="card bento_long" id="1">
            {% include "tournament/match_history.html" with matches=matches user=user %}
            <p class="win_losse">
              Wins : {{ user.wins }} | Losses : {{ user.losses }}
            </p>
            <h4 class="titre">Match history</h4>
          </div>
          
          
          <div class="card bento_small" id="3">
            {% if user == request.user %}
            {% include "users/friends.html" with friends=friends %}
            <h4 class="titre">Friends</h4>
            {% endif %}
          </div>

          <div class="card bento_small" id="4">
            {% if user == request.user %}
              <img src="{{ user.avatar.url }}" class="avatar" alt="Avatar" width="100" height="100">
                 <h3 class="titre">Avatar</h3>
            <form method="post" enctype="multipart/form-data" action="/api/users/profile_avatar_edit/" style="margin: 0px;" data-no-spa id="avatar_form">
              {% csrf_token %}
              <div class="profil_edit_parent" >
                <input type="file" name="avatar" id="avatar" accept="image/*">
               <button class="settings" type="submit">
                Edit
              </button>
            </div> 
            </form>
            {% else %}
            <img src="{{ user.avatar.url }}" class="avatar" alt="Avatar" width="170" height="170">
            <div class="profil_edit_parent" >
              <h3 class="titre">Avatar</h3>
            </div>
            {% endif %}
          </div>
          
        </div>
      </div>
    </div>
    
  </div>


  
