{% load static %}
{% load socialaccount %}
{% include 'core/sidenav.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'chat/css/room.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/social.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Chat Room</title>
</head>
<body>
    <div class="chat-wrapper">
        <div class="chat-history-container">
            <!-- Background Video -->
            <video autoplay muted loop class="video-background">
                <source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="chat-bar">
                {% for chat in user_chats %}
                    <div class="container--user-avatar">
                        <img src="{{ chat.toUser.userprofile.avatar.url }}" class="user-avatar-img">
                    </div>
                    <div class="chat--history">
                        <a href="{% url 'chat:get_room_redirect' chat.toUser.id %}"> {{ chat.toUser }}</a>
                        {% if chat.last_message %}
                            <p class="last-message"> {{ chat.last_message|slice:":50" }}{% if chat.last_message|length > 50 %}...{% endif %}  </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="chat-container">
            <!-- Background Video -->
            <video autoplay muted loop class="video-background">
                <source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="chat-header">
            {% if room_name %}
                <h1>Chatting with: {{ receiver_username }} (You: {{ sender_username }})</h1>
            {% else %}
                No chat yet go to <a href="{% url 'core:social'%}"> social</a> and start a chat.
            {% endif%}
            </div>
            <div id="chat-log" class="chat-log"></div>
            {% if room_name %}
                <div class="chat-input">
                    <input id="chat-message-input" type="text" placeholder="Type a message...">
                    <input id="chat-message-submit" type="button" value="Send">
                </div>
            {% endif %}
            </div>
    </div>

    {% if room_name %}
        {{ room_name|json_script:"room-name" }}
        {{ userID|json_script:"userID" }}
        {{ sender_username|json_script:"sender_username" }}
        {{ receiver_username|json_script:"receiver_username" }}

        <script src="{% static 'chat/js/reconnecting_websocket.js' %}"></script>
        <script src="{% static 'chat/js/chat.js' %}"></script>
    {% endif %}
</body>
</html>
