{
	https_port 2121
	http_port 8080
}

localhost {
	handle_path /static/* {
		root * /django/ft_transcendence/staticfiles
		file_server
	}

	handle /media/* {
		root * /django/ft_transcendence
		file_server
	}
	handle {
		reverse_proxy django:8000
	}
}
