/* Reset default margins and padding (Default Browser Styles) */
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

/* ---------- Title Page ---------- */
	.title {
		position: absolute;
		text-align: center;
		z-index: 1; /* Ensures the content is above the video */
		top: 1.5%; /* Title's position in the page (absolute position in a big container */
	}

	/* Title's style */
	.title--move {
    	position: relative;
    	animation: moveToTop 2s ease forwards; /* 2s animation, only once */
	}

	.title--style {
		color:white;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-style: normal;
   		font-size: 70px;
	}

	/* Moves title to the top of the page */
	@keyframes moveToTop {
    0% {
        transform: translateY(400px); /* Initial position in the middle */
    }
    100% {
        transform: translateY(14px); /* Moves title to the top of the page */
    }
	}

/* ---------- Login Buttons ---------- */

	.container--login-buttons{ /* Child container of parent login page */
		position: absolute;
		top: 40%;
	}
	/* 42 Button - Top button */
	.login-buttons--top{
		display: flex;
		justify-content: center;
		margin-bottom: 30px; /* Margin to add some space between top and bottom buttons */
	}

	/* Login and Sign Up Button - Bottom Buttons */
	.login-buttons--bottom{ /* Child container of parent container login page */
		display: flex;
		gap: 30px; /* space between the two buttons */
	}

	/* Three buttons design */
	.buttons-design.login--options-buttons {
		font-size: 25px;
		border: 2px solid white;
		padding: 10px 42px; /* padding between text and border */
		animation: buttonsAppearance 3.2s ease forwards; /* buttons will appear when the title will be on the top of the page */
	}

	.buttons-design:hover {
  		background: white;
	}

	/* Buttons will appear when the title will be at the top of the page */
	@keyframes buttonsAppearance {
		0% {
			opacity: 0%; /* Buttons are invisible until the title's animation is over */
		}
		42%{
			opacity: 0%;
		}
		100% {
			opacity: 100%; /* Buttons will appear progressively */
		}
	}

	.icons-logos {
		width: 2em; /* Width relative to the size of the police */
	}

/* ---------- Login Forms ---------- */

	.container--login-form{ /* Child container of parent login page */
		position: absolute;
		top: 38%;
	}

	/* username and password fields container */
	.container--username-password-field{
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 30px;
	}

	.container--submit-button{
		display: flex;
		justify-content: center;
		margin: 50px;
	}

	/* Username and Password field */
	.username-password-field{
		text-align: center;
		font-size: 22px;
		color: white; /* text color */
		background: #1A003E; /* background color */
		border: 2px solid white;
		padding: 8px 42px; /* padding between text and border */
		border-radius: 12px;
	}

	/* Submit button design */
	.submit-button{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		text-align: center;
		color: white; /* text color */
		background: #1A003E; /* background color */
		padding: 10px 40px; /* padding between text and border */
		border: 2px solid white;
		border-radius: 12px;
		cursor: pointer; /* small hand logo will appear on the button when we'll be hover it */
		transition: .5s; /* smooth transition to submit-button:hover */
	}

	/* smooth animation when the curser is hover the button */
	.submit-button:hover{
		color: black; /* text color */
  		background-color: white; /* background color */
	}
