	.notifications--black-box {
        width: 65vw;
        height: 80vh;
		background: rgba(0, 0, 0, 0.21); /* semi-transparent background */
		border-radius: 42px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
		overflow-y: scroll;
		animation: smoothAppearence 1s ease forwards;
	}

	.notification--each-container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 80%;
		height: 8%;
		background-color: rgba(25,0,56, 0.5);
		border-radius: 20px;
		margin: 3%;
		margin-left: 10%;
	}

	.notif-avatar.user-avatar-img {
		width: 3em;
		height: 3em;
	}

	.notifications--text {
		display: flex;
		align-items: center;
		color : white;
		font-size: 26px;
		gap: 30px;
		flex: 1;
		margin-left: 2%;
		margin-right: 2%;
	}

	.notifications-buttons-container{
		display: flex;
		justify-content: flex-end;
		gap: 15px;
		margin-left: auto;
	}

	.notifications--options-buttons.buttons-design{
		padding: 10px; /* padding between logo and border */
		border-radius: 50px;
	}



