/* ---------- Social Bar on top of the page ---------- */

	.social-bar{
		position: fixed;
		display: flex;
		justify-content: space-evenly;
		width: 90vw;
		top: 4%;
		left: 10%;
		gap: 1%;
		border-radius: 20%;
	}

	/* ---------- Social Bar Buttons ---------- */

	.social-bar--buttons{ /* Full deign needed here because CSS is loading hover JS animations if we're using buttons-design class */
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 18px;
		color: white; /* text color */
		background: #1A003E; /* background color */
		border: 1px solid white;
		padding: 8px 30px; /* padding between text and border */
		border-radius: 12px;
    	cursor: pointer; /* small hand logo will appear on the button when we'll be hover it */
		font-family: 'Stacker', sans-serif; /* Google Font */
		gap: 17px; /* space between text and logos */
		transition: 1s; /* smooth transition to buttons-design:hover */
		animation: smoothAppearence 0.8s ease forwards;
	}

	/* smooth animation when the curser is hover the button */
	.social-bar--buttons:hover {
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
	}

	/* on click animation : buttons will stay white depending on the section where you click */
	.buttons-active{
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
		transition: .5s;
	}

	/* ---------- Info Container : displays either friends list, pending requests or blocked users ---------- */

	.social--info-container{
		position: relative;
		display: flex;
		justify-content: center;
		top : 10%;
		width: 80vw;
		height: 90vh;
	}

	/* ----- Animation to make Lists appear progressively ----- */
	.social--container-animation{
		display: flex;
		justify-content: center;
		top : 10%;
		width: 80vw;
		height: 90vh;
		animation: smoothAppearence 1.3s ease forwards;
	}

	/* ----- Titles under the buttons ----- */
	.social--title{
		position: fixed;
		text-align: center;
		z-index: 1; /* Ensures the content is above the video */
		top: 14%; /* Title's position in the page (absolute position in a big container */
	}

	.social--title-style{
		color:white;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-style: normal;
   		font-size: 30px;
		animation: smoothAppearence 1.3s ease forwards;
	}

	/* ----- thin line under social bar ----- */
	.social-bar--line{
		position: fixed;
		display: flex;
		justify-content: center;
		top: 18%;
		height: 1px;
		background-color: white;
		border: none;
		animation: underlineAppearance 2.2s ease forwards; /* animations takes place only once, when we open the page. The underline will grow in 2.5 */
	}

	/* Underline will appear and grow progressively */
	@keyframes underlineAppearance {
		0% {
			width: 0%;
		}
		100% {
			width: 48%;
		}
	}

	/* ----- Full Friend list Container ----- */
	.social--display-list{
		position: absolute;
		display: flex;
		justify-content: center;
		max-height: 75vh;
		width: 75vw;
		top: 15%;
		margin-bottom: 20px;
		overflow-y: auto; /* Add vertical scroll*/
		background: rgba(0, 0, 0, 0.1 ); /* Fond semi-transparent */
		border-radius: 42px;
	}

	/* ----- Container for all users ----- */
	.social--all-users-profile{
		display: flex;
		justify-content: center;
		flex-wrap: wrap; /* Handle users on several lines. Flexbox will organize automaticaly elements on new lines when maximal width will be reached */
		list-style: none;
		padding: 0;
		margin: 0;
	}

	/* ----- Container for one user ----- */
	.social--each-user-profile-container{
		text-align: center;
		margin: 4%; /* space beetween elements */
		padding: 10px 24px; /* padding between text and border */
		background-color: #1A003E;
		border: 1px solid white;
		border-radius: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.container--user-avatar{
		padding: 15px;
	}

	/* Link to the user (click on the username) */
	.social--each-user-profile-container a {
		text-decoration: none;
		color: white;
		font-size: 18px;
	}

	/* ----- Username + Link to Profile Page ----- */
	.social--user-profile-username{
		display: flex;
		justify-content: center;
		padding-bottom: 21px;
	}

	/* ----- Buttons Chat + Game Container ----- */
	.social--user-profile-buttons{
		display: flex;
		justify-content: center;
		margin-bottom: 16px;
		gap: 15px;
	}

	/* Buttons Design */
	.buttons-design.social--user-profile-buttons-design{
		padding: 10px; /* padding between logo and border */
		border-radius: 50px;
	}

	.social--buttons-section-logos{
		width: 1.3em; /* Width relative to the size of the police */
		height: auto;
	}

	/* ----- Unblock Button ----- */
	.buttons-design.social--user-profile-unblock-button-design{
		padding: 8px 16px; /* padding between logo and border */
		border-radius: 50px;
		margin-top: 4px;
	}

	a.social--buttons-section-text{
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 14px;
		color: white;
	}
