{% load static %}



<!-- Fonts et CSS -->
<link rel="stylesheet" href="{% static 'css/5_torus_knot.css' %}">
<div id="app-content">
 

    <div id="navigation" class="navig">
            <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo">

    </div>


  <!-- <script src="router.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.min.js"></script>
  
  <canvas class="webgl"></canvas>

