{% load static %}
{% load i18n %}



<!-- Fonts et CSS -->
<script type="module" src="{% static 'js/basic_setting.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/basic_setting.css' %}">
<div id="app-content">
 
  
          <div id="navigation" class="navig">
          
  
                  <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo">
  
                  <form class="blur-box_" method="post">
                      <a class="start_game" href="/duel/">
                        {% trans "BASIC MODE" %}
                      </a>
                      <a id="join_tournament" class="join_tournament" href="/3_blue_rubix/?mode=duel">
                        {% trans "SETTINGS" %}
                      </a>
                      <!-- <button id="join_tournament" class="join_tournament">SETTINGS</button> -->
                  </form>
          
      </div>
  
  
    <canvas class="webgl"></canvas>
  