{% load static %}



<link rel="stylesheet" href="{% static 'css/choose_your_perso.css' %}">
<script type="module" src="{% static 'js/choose_your_perso.js' %}"></script>

<div id="app-content">

  <div id="navigation" class="navig">
    <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo">

    
    html ####
    <!-- <div class="blur-box_profil">
      <div class="character-grid">
        {% for i in "x"|rjust:"18"|make_list %}
        <div class="character-card">
          <img src="{% static 'globos/globo_' %}{{ forloop.counter }}.png" alt="Globo {{ forloop.counter }}">
        </div>
      {% endfor %}
      </div>
    </div>
     
 -->




 <div class="blur-box_avatar">
  <div class="character-grid">
    <div class="character-card">
      <img src="{% static 'globos/globo_1.png' %}">
      <button class="globo_name">Ziboulon</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_2.png' %}">
      <button class="globo_name">Ploumpli</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_3.png' %}">
      <button class="globo_name">Sniflou</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_4.png' %}">
      <button class="globo_name">Grobou</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_5.png' %}">
      <button class="globo_name">Moufli</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_6.png' %}">
      <button class="globo_name">Tronpette</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_7.png' %}">
      <button class="globo_name">Flaplap</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_8.png' %}">
      <button class="globo_name">Bimflou</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_9.png' %}">
      <button class="globo_name">Krousti</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_10.png' %}">
      <button class="globo_name">Zoupla</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_11.png' %}">
      <button class="globo_name">Froupti</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_12.png' %}">
      <button class="globo_name">Nibouli</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_13.png' %}">
      <button class="globo_name">Zlaplon</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_14.png' %}">
      <button class="globo_name">Broumbo</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_15.png' %}">
      <button class="globo_name">Splatch</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_16.png' %}">
      <button class="globo_name">Gribouille</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_17.png' %}">
      <button class="globo_name">Chiblon</button>
    </div>
    <div class="character-card">
      <img src="{% static 'globos/globo_18.png' %}">
      <button class="globo_name">Plobli</button>
    </div>
  </div>
</div>



  </div>
</div>
<canvas class="webgl"></canvas>