{% load static %}
{% load i18n %}


<link rel="stylesheet" href="{% static 'css/duel.css' %}">
<script type="module" src="{% static 'js/duel.js' %}"></script>
<script type="module" src="{% static 'js/pong.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/avatar_duel.css' %}">
<link rel="stylesheet" href="{% static 'css/pong.css' %}">

<body>

<!-- Canvas fixe en arrière-plan pour les sections 1 et 2 -->
<canvas class="webgl-bg"></canvas>

<div class="scroll-container" >
    <!-- Section Avatar -->
    <section class="fullpage-section avatar-section" id="section">
        <div class="app-content">
            <div class="navig">
                <div class="blur-box_avatar">
                 <div class="character-grid">
                
                  <div class="character-card">
                    <img src="{% static 'globos/globo_1.png' %}">
                    <button class="globo_name" id="globo_name1">PLOUB</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_2.png' %}">
                    <button class="globo_name" id="globo_name2">BOULON</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_3.png' %}">
                    <button class="globo_name" id="globo_name3">BEBOU</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_4.png' %}">
                    <button class="globo_name" id="globo_name4">SNIFLOU</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_5.png' %}">
                    <button class="globo_name" id="globo_name5">GROZINZIN</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_6.png' %}">
                    <button class="globo_name" id="globo_name6">TROPOUTTE</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_7.png' %}">
                    <button class="globo_name" id="globo_name7">FLAPLAP</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_8.png' %}">
                    <button class="globo_name" id="globo_name8">KOULOU</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_9.png' %}">
                    <button class="globo_name" id="globo_name9">KROUSTI</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_10.png' %}">
                    <button class="globo_name" id="globo_name10">MISTOUCH</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_11.png' %}">
                    <button class="globo_name" id="globo_name11">MARC</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_12.png' %}">
                    <button class="globo_name" id="globo_name12">COUSSI</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_13.png' %}">
                    <button class="globo_name" id="globo_name13">ZOUPLA</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_14.png' %}">
                    <button class="globo_name" id="globo_name14">PROUTON</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_15.png' %}">
                    <button class="globo_name" id="globo_name15">ZIP</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_16.png' %}">
                    <button class="globo_name" id="globo_name16">CHODRON</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_17.png' %}">
                    <button class="globo_name" id="globo_name17" >ZARMA</button>
                  </div>
                  <div class="character-card">
                    <img src="{% static 'globos/globo_18.png' %}">
                    <button class="globo_name" id="globo_name18">GRIBOUILLE</button>
                  </div>
                  
                </div>
              </div>
            </div>
            <button class="confirmButton" id= "confirmButton" >
            {% trans "OK" %}
          </button>
          </div>
    </section>

    <!-- Section Tournois -->
    <section class="fullpage-section tournois-section">
      <div class="app-content2">
          <div class="navig">
              <img class="logo_" src="{% static 'logo/entropia9.png' %}" alt="Logo">
          </div>
  
          <div class="canvas_tournois">
              <div class="bracket">
                  <div class="round round-1">
                      <div class="matchup">
                        <div class="player-container">
                            <img src="" alt="Player 1" class="player-image player1-img">
                              <div class="player player1">Globo 1</div>
                          </div>
                          <div class="player-container">
                              <img src="" alt="Player 2" class="player-image player2-img">
                              <div class="player player2">Globo 2</div>
                          </div>
                      </div>
  
                    
  
        
              </div>
              
          </div>
  
          <!-- <div class="win">?</div> -->
          <div class="play_buttons">
            <button id="playButton" class="play-button">
              {% trans "PLAY" %}
            </button>
          </div>
       

      </div>
  </section>
  
    <!-- Section Pong -->
    <section class="fullpage-section pong-section">
        <!-- Canvas spécifique pour Pong -->
        <canvas class="webgl-pong"></canvas>
        
        <div id="app-content" class="pong-content">
            <div id="navigation" class="navig">
                <div class="fixed-top">
                  <div class="n_round_text">
                  {% trans "FIRST TO" %}
                  </div>
                  <div class="n_round" id="n_round">5</div>
                </div>

                <div class="parent_controls_l">
                    <div class="controls">
                        <div class="fleche">↑ E</div>
                        <div class="fleche">↓ D</div>
                    </div>
                </div>

                    <div class="blur-box_parent_history">
                      <div class="blur-box_history">
                          <div class="name3">
                            {% trans "I'M THE BOSS" %}
                          </div>
                          <div class="score_moi" id="victories">0</div>
                          <div class="name3"><br>
                            {% trans "OH NO I LOST" %}
                          </div>
                          <div class="score_moi" id="failures">0</div>
                      </div>

                <div class="parent_controls_r">
                    <div class="controls">
                        <div class="fleche">↑ O</div>
                        <div class="fleche">↓ K</div>

                    </div>
                </div>
                <div class="blur-box_score_parent_l">
                    <div class="blur-box_score">
                        <div class="name1" >
                          {% trans "ME" %}
                        </div>
                        <div class="score1" id="scorePlayer1">0</div>
                    </div>
                  </div>
                  
                <div class="blur-box_score_parent_r">
                    <div class="blur-box_score">
                        <div class="name2">
                          {% trans "GLOBO GUEST" %}
                        </div>
                        <div class="score2" id="scorePlayer2">0</div>
                    </div>
                </div>

                <div class="fixed-bottom">
                    {% trans "⏸ / space" %}
                </div>

                <div id="countdown" class="countdown">
                    <div class="countdown-number"></div>
                </div>
            </div>

            <!-- Overlay de victoire -->
            <div id="gameOverOverlay" class="game-over-overlay">
                <p id="winnerMessage">
                  {% trans "Player X wins!" %}
                </p>
                <button id="playAgainButton">
                  {% trans "Play Again" %}
                </button>
                <button id="quitButton">
                  {% trans "Quit" %}
                </button>
            </div>
        </div>
    </section>
</div>

<script>
window.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
        const avatarSection = document.querySelector('.avatar-section');
        if (avatarSection) {
            avatarSection.scrollIntoView({ behavior: 'smooth' });
        }
    }, 500);  // Attendre 500ms pour être sûr que tout est bien chargé
});
</script>

</body>