{% load static %}
{% load i18n %}

<form class="blur-box" method="post" id="signupForm" action="/api/users/accounts/signup/" data-no-spa>

    {% csrf_token %}
    <div class="already_sign_up">
        <p class="account_sentence">
            {% trans "Already have an account?" %}
            <a href="{% url 'home' %}" >
                <button class="go_to_signin_page"  type="button" id="go_to_signin_page">
                    {% trans "Sign In" %}
                </button>
            </a>
    </div>    
    
    <p class="sign_title">
        {% trans "SIGN UP" %}
    </p>

    <div class="form-group">
        <div class="login_up">
                <input class="login" type="text" id="username" name="username" placeholder="Username" required>
        </div>
    </div>

    <div class="form-group">
        <input class="password" type="password" id="password" name="password1" placeholder="Password" required 
                minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$" 
                title="Password must be at least 8 characters long and contain at least one letter and one number.">
    </div>

    <div class="form-group">
        <input class="password" type="password" id="confirm_password" name="password2" placeholder="Confirm Password" required>
    </div>

    <div class="password-requirements">
        <div class="requirement">
            <span class="check-icon" id="check1">✔</span>
            <p class="condition">
                {% trans "Min 8 characters" %}
            </p>
        </div>
        <div class="requirement">
            <span class="check-icon" id="check2">✔</span>
            <p class="condition">
                {% trans "A number" %}
            </p>
        </div>
        <div class="requirement">
            <span class="check-icon" id="check3">✔</span>
            <p class="condition" >
                {% trans "Upper case" %}</p>
        </div>
        <div class="requirement">
            <span class="check-icon" id="check4">✔</span>
            <p class="condition" >
                {% trans "A special symbol" %}
            </p>
        </div>
    </div>
    
                
    <button id="signup_submit" class="signup_submit" type="submit">
        {% trans "Sign Up" %}
    </button>
    <!-- <button class="signup_42_up">Sign up with 42</button> -->
    
    
</form>

