@font-face {
	font-family: 'Stacker'; /* Name your font family */
  src: url("/static/fonts/Stacker-jE03l.ttf") format('truetype');
  }

  @font-face {
	font-family: 'Neon'; /* Name your font family */
  src: url("/static/fonts/NeonGoodshine.otf") format('truetype');
  }

/* no-scroll */
.no-scroll {
  overflow-x: hidden; /* Avoid horizontal scrolling */
  overflow-y: hidden; /* Avoid vertical scrolling */
}

/* Scroll */
.scroll {
  overflow-x: hidden; /* Avoid horizontal scrolling */
  overflow-y: auto; /*Vertical scrolling avaible */
}

.hidden {
  display: none;
}

  /* ---------- Background Video ---------- */
  .video-background {
    position: fixed; /* Background video will stay at this position no matter what */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensures the video covers the entire element */
    z-index: -1; /* Places the video behind other content */
  }

  /* ---------- Global Container For Layout Management ---------- */
  .container {
    position: relative; /* Parent container */
    display: flex;
    justify-content: center;
	align-items: center;
    height: 100vh; /* Container takes the full page */
    width: 100vw;
  }

  .buttons-design {
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	color: white; /* text color */
	background: #1A003E; /* background color */
	border: 1px solid white;
	padding: 8px 30px; /* padding between text and border */
	border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Smooth shadow for depth */
    cursor: pointer; /* small hand logo will appear on the button when we'll be hover it */
	transition: .5s; /* smooth transition to buttons-design:hover */
  }

  	/* smooth animation when the curser is hover the button */
	.buttons-design:hover {
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
	}

  .icons-logos {
		width: 1.5em; /* Width relative to the size of the police */
		height: auto;
	}

	/* ----- Avatar Container ----- */
  .container--user-avatar{
    display: flex;
    justify-content: center;
  }

  /* Avatar Image */
  .user-avatar-img{
    width: 5em; /* Width relative to the size of the police */
    height: 5em;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  /* Animation to make borders glow */
	@keyframes borderGlow {
		0% {
			border-color: white;
			box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6);
		}
		50% {
			border-color: rgba(255, 255, 255, 0.8);
			box-shadow: 0 0 16px 8px rgba(255, 255, 255, 0.8);
		}
		100% {
			border-color: white;
			box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.6);
		}
	}

	/* Animation to make things appear progressively with oppacity */
	@keyframes smoothAppearence {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}

	/* Submit button design */
	.submit-button{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		text-align: center;
		color: white; /* text color */
		background: #1A003E; /* background color */
		padding: 10px 40px; /* padding between text and border */
		border: 2px solid white;
		border-radius: 12px;
		cursor: pointer; /* small hand logo will appear on the button when we'll be hover it */
		transition: .5s; /* smooth transition to submit-button:hover */
	}

	/* smooth animation when the curser is hover the button */
	.submit-button:hover{
		color: black; /* text color */
  		background-color: white; /* background color */
	}

	/* container for home & social (my_profile & user_profile) */
	.border-container{
		position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65vw;
        height: 70vh;
        top: 15%;
        background: rgba(0, 0, 0, 0.21); /* semi-transparent background */
        border: 1px solid white;
        border-radius: 42px;
        overflow: hidden; /* Prevents shine effects from overflowing */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
		animation: smoothAppearence 1.3s ease forwards, borderGlow 5s ease-in-out infinite;
	}

	/* Search User Field Design */
	.buttons-design.social--search-username-field{
		border: 2px solid white;
		padding: 8px 20px; /* padding between text and border */
		margin-top: 5px;
		border-radius: 20px;
		cursor: auto;
		animation: smoothAppearence 0.8s ease forwards;
	}

	.buttons-design.social--search-username-field:hover{
		color: white;
		background: #1A003E;
	}

	.error-message {
		color: #f44336;
		font-weight: bold;
	}

.exception {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #444;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.exception.show {
	z-index: 100;
	opacity: 1;
}

.exception.hidden {
	display: none;
}


	/* Error Message Container */
	.errorlist {
		display: inline-block;
		text-align: center; /* Center the text */
		font-size: 1.2rem !important;
		color: white; /* White text */
		background: linear-gradient(135deg, rgba(255, 0, 0, 0.7), rgba(200, 0, 0, 0.7)); /* Red gradient with 70% opacity */
		padding: 10px 15px; /* Padding inside the block */
		border-radius: 8px; /* Rounded corners */
		margin: 20px 0; /* Add margin above and below the block */
		gap : 1px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for a subtle 3D effect */
	}

	.errorlist {
		list-style: none;
	}
