@font-face {
	font-family: 'Stacker'; /* Name your font family */
  src: url("{% static '/fonts/Stacker-jE03l.ttf' %}") format('truetype');
  }

/* --- Background Video --- */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire element */
  z-index: -1; /* Places the video behind other content */
}

/* --- Title Page --- */
.title {
  display: flex; /* Use Flexbox for centering */
  z-index: 1; /* Ensures the content is above the video */
  justify-content: center; /* Center content horizontally */
  text-align: center; /* Center text inside the container */
  color:white;
  font-family: 'Stacker', sans-serif; /* Google Font */
  font-style: normal;
  font-size: 50px;
  margin-top: 10px;
}

/* .move-up {
  margin-top: -1100px; /* Adjust this value to move text upward */
/*} */

/* .fade-in {
  opacity: 0; /* Initial opacity set to 0 */
  /*animation: fadeInAnimation 0.5s ease-in forwards; /* Apply animation */
  /*animation-delay: 1s; /* Delay the animation for 2 seconds */
/*} */

/* Login Button */
.login-button {
	margin-top: 20px; /* Space between text and button */
	display: flex;
	align-items: center;
	gap: 10px; /* Space between image and text */
	transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
  }

  .login-button img {
	width: 50px; /* Adjust the size of the image */
	height: 50px;
	transition: filter 0.3s ease; /* Smooth transition for filter */
  }

  .login-button:hover {
	transform: scale(1.10); /* Slightly increase the size on hover */
  }



.signup-button {
	transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transform */
}

  .signup-button:hover {
	transform: scale(1.10); /* Slightly increase the size on hover */
  }

.button-group {
	display: flex;
	text-align: center; /* Align buttons horizontally */
  }

.login-button,
.signup-button {
	display: inline-block; /* Ensure both buttons are on the same line */
	vertical-align: middle; /* Align buttons vertically */
	margin: 0 100px; /* Add space around the buttons */
	color:blueviolet;
}


  @keyframes fadeInAnimation {
	to {
	  opacity: 1; /* End opacity set to 1 */
	}
  }
