.hidden {
	display: none;
}

.tournament-title {
	position: absolute;
	top: 11%;
}

.container-players {
	display: flex;
	gap: 20px;
	padding: 121px; /* Space around inputs inside the box */
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.21); /* semi-transparent background */
    border: 1px solid white;
    border-radius: 42px;
    overflow: hidden; /* Prevents shine effects from overflowing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
	animation: smoothAppearence 1.3s ease forwards, borderGlow 5s ease-in-out infinite;
}

.players-column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1; /* Les colonnes prendront une largeur égale */
    min-width: 150px; /* Empêche qu'elles deviennent trop étroites */
}

.change-btn {
	display: inline-block;
	background-color: #1A003E; /* Couleur de fond */
	color: white; /* Couleur du texte */
	padding: 10px 20px; /* Espacement interne */
	margin: 4px;
	font-size: 20px; /* Taille du texte */
	border-radius: 12px; /* Coins arrondis */
	border: 1px solid white;
	cursor: pointer; /* Curseur en forme de main */
	text-align: center;
	transition: background-color 0.3s ease; /* Animation au survol */
	width: 100%; /* L'input prendra toute la largeur disponible de son parent */
    max-width: 300px; /* Limite la largeur maximale */
}

.play-button.buttons-design {
	position: relative;
	right: 50%;
	margin-top: 80px;
	font-size: 22px;
}
