.navig {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .logo_ {
  width: 250px;
  z-index: 0;

  margin-top: -10px;
  margin-bottom: 10px;
} */




.gnagna {
  /* margin: 0 auto; */
  font-family: "Roboto", sans-serif;
  /* background-color: rgba(255, 255, 255, 0.05); */
  display: flex;
  align-items: center;
  flex-direction: column;
  background: none;
  backdrop-filter: blur(2px);
  border: 1.5px solid rgba(255, 255, 255, 0);
  color: rgba(253, 253, 255, 0.565);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 500px;
  max-width: 230px;
}

.gnagna {
  /* margin: 0 auto; */
  font-family: "Roboto", sans-serif;
  /* background-color: rgba(255, 255, 255, 0.05); */
  background: none;
  font-size: 14px;
  backdrop-filter: blur(2px);
  border: 1.5px solid rgba(255, 255, 255, 0);
  color: rgba(253, 253, 255, 0.565);
  border-radius: 5px;
  cursor: pointer;
  /* width: 100%; */
  max-width: 230px;
}


.credits-container {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;  /* Taille réduite */
  font-family: "Roboto", sans-serif;
  z-index: 3;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);  /* Légère transparence */
  overflow: hidden; 
}

.credits {
  animation: scroll-up 500s linear infinite; /* Très long pour ralentir */
  white-space: nowrap;
}

.credits span {
  display: inline-block;
  padding: 10px 40px;  /* Espacement réduit pour plus de densité */
  margin-bottom: 10px;  /* Espace entre chaque ligne */
}



@keyframes scroll-up {
  0% {
    transform: translateY(45%); /* Commence en bas de l'écran */
  }
  100% {
    transform: translateY(-110%); /* Ajuster à -120% pour éviter la disparition complète */
  }
}
.logo_ {
  width: 50px;
  margin-bottom: -40px;
}
.credits-container {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  z-index: 3;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}


.credits span {
  display: inline-block;
  padding: 10px 40px;
  margin-bottom: 15px;
}


.logo_ {
  width: 60px;
  margin-bottom: -10px;
}

.project-title, .category {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 15px;
}

.central-line {
  text-align: center;
  /* margin-bottom: 20px; */
}

.credits-columns {
  display: flex;
  justify-content: center;
  margin-left: 103px;
  gap: 80px; /* Espace entre les colonnes */
  margin-bottom: 20px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.role, .name {
  padding: 16px 17px;
  font-size: 16px;
}

.role {
  font-weight: bold;
}

.name {
  color: rgba(255, 255, 255, 0.8);
}

.thanks {
  font-size: 17px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}
