
.blur-box-parent{
  margin-top: 95px; 
}

.already_sign_up {
  margin-left: auto; 
  margin-top: 0; 
  /* white-space: nowrap; */
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  /* border: solid 2px pink; */

}

.account_sentence {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgba(213, 214, 216, 0.649);
  flex-grow: 0;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  margin-top: 0; 
}


.go_to_signin_page {
  font-weight: 800;
  font-size: 14px;
  padding: 5px 8px;
  background-color: #ffffff10;
  /* margin-left: auto; */
  border: 1px solid rgba(230, 14, 14, 0);
  color: #ffffffaf;
  border-radius: 5px;
  margin-left: 8px;
}

.go_to_signin_page:hover {
  background-color: #ffffff1f;
}


.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
}

.login_up {
  margin: 0 auto;
  margin-bottom: 9px;
  width: 100%;
}

.signup_submit {
  font-family: "Roboto";
  margin: 0 auto;
  font-weight: 800;
  font-size: 19px;
  padding: 7px 20px;
  margin-top: 15px;
  margin-bottom: 11px;
  background-color: #fdfdfdee;
  border-radius: 5px;
  width: 90%;
  border: none;
}


.signup_submit:hover {
  color: #ffffffeb;
  background-color: #00ffffc4;
}

/* .signup_42_up {
  margin: 0 auto;
  font-weight: 800;
  font-size: 18px;
  padding: 9px 20px;
  background-color: #000000c7;
  color: #ffffffdb;
  border-radius: 5px;
  width: 90%;
  border: none;
} */

/* Input Focus Placeholder */
input::placeholder {
  color: #aaa;
}

.password-requirements {
  margin-right: auto; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgba(213, 214, 216, 0.575);
  padding-top: 5px;
  /* border: solid 2px pink; */
}

.requirement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check-icon {
  margin-right: 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #cccccce6;
  transition: color 0.3s ease;
  /* border: solid 2px pink; */

}

.check-icon.checked {
  color: #00ffff;
}

p {
  margin: 0;
  padding-left: 4px;
}
